# The Data Master
## Week 1: Python Fundamental

## Colab introduction


*   Code cell and Text cell
*   Cell Move 
*   Cell Run
*   Computing Resource

In [1]:
## Example 00 ##
## input / output ##

a = input("input string: ")
print(a, type(a))

b = int(input("input int: "))
print(b, type(b))

input string: hello
hello <class 'str'>
input int: 100
100 <class 'int'>

##Data type and variables

###Example 01

In [15]:
## Example 01 ##

a = 10
b = 52.232322324
c = "peter"
d = True
e = None

print("a =", a, type(a))
print("b =", b, type(b))
print("c =", c, type(c))
print("d =", d, type(d))
print("e =", e, type(e))

print("\n\n")

print(a, "is integer?", isinstance(a, int))
print(b, "is integer?", isinstance(b, int))
print(c, "is integer?", isinstance(c, int))
print(d, "is integer?", isinstance(d, int))
print(e, "is integer?", isinstance(e, bool))

a = 10 <class 'int'>
b = 52.232322324 <class 'float'>
c = peter <class 'str'>
d = True <class 'bool'>
e = None <class 'NoneType'>



10 is integer? True
52.232322324 is integer? False
peter is integer? False
True is integer? True
None is integer? False

## Data Structure

**Lists**: are just like dynamic sized arrays, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it the most powerful tool in Python.

**Tuple**: A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

**Set**: A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

**Dictionary**: in Python is an ordered (since Py 3.7) [unordered (Py 3.6 & prior)] collection of data values, used to store data values like a map, which, unlike other Data Types that hold only a single value as an element, Dictionary holds key:value pair. Key-value is provided in the dictionary to make it more optimized.


reference : https://www.geeksforgeeks.org/differences-and-applications-of-list-tuple-set-and-dictionary-in-python/

In [6]:
## Example 02 ##

list1=[1,4,"Gitam",6,"college"]
list2=[]  # creates an empty list
list3=list((1,2,3))
print("***LIST***")
print(list1)
print(list1[2])
print(list3)

tuple1=(1,2,"college",9)
tuple2=() # creates an empty tuple
tuple3=tuple((1,3,5,9,"hello"))
print("***tuple***")
print(tuple1)
print(tuple2)
print(tuple3)

set1={1,2,5,4,5,"hello","tup"}
set2={(1,8,"python",7)}
print("***SET***")
print(set1)
print(set2)

dict1={"key1":"value1","key2":"value2"}
dict2={}   # empty dictionary
dict3=dict({1:"apple",2:"cherry",3:"strawberry"})
print("***dictionary***")
print(dict1)
print(dict1["key1"])
print(dict3)

***LIST***
[1, 4, 'Gitam', 6, 'college']
Gitam
[1, 2, 3]
***tuple***
(1, 2, 'college', 9)
()
(1, 3, 5, 9, 'hello')
***SET***
{1, 2, 4, 5, 'hello', 'tup'}
{(1, 8, 'python', 7)}
***dictionary***
{'key1': 'value1', 'key2': 'value2'}
value1
{1: 'apple', 2: 'cherry', 3: 'strawberry'}

In [ ]:
## example 3 ##
## list and operation ##
list1=["hello",1,4,8,"good"]
print(list1)
list1[0]="morning"  # assigning values ("hello" is replaced with "morning")
print(list1)
print(list1[4])
print(list1[-1]) # list also allow negative indexing
print(list1[1:4]) # slicing
list2=["apple","mango","banana"]
print(list1+list2) # list concatenation

['hello', 1, 4, 8, 'good']
['morning', 1, 4, 8, 'good']
good
good
[1, 4, 8]
['morning', 1, 4, 8, 'good', 'apple', 'mango', 'banana']

In [ ]:
## example 4 ##
## tuple and operation ##

tuple1=("good",1,2,3,"morning")
print(tuple1)
print(tuple1[0])  # accessing values using indexing
#tuple1[1]="change"  # a value cannot be changed as they are immutable
tuple2=("orange","grapes")
print(tuple1+tuple2)  # tuples can be concatenated
tuple3=(1,2,3)
print(type(tuple3))

In [ ]:
## example 5 ##
## set and operation
set1={1,2,3,4,5}
print(set1)
# set1[0]   sets are unordered, so it doesnot support indexing
set2={3,7,1,6,1} # sets doesnot allow duplicate values
print(set2)

{1, 2, 3, 4, 5}
{1, 3, 6, 7}

In [ ]:
## example 6 ##
## dictionary and operation
dict1={"key1":1,"key2":"value2",3:"value3"}
print(dict1.keys())  # all the keys are printed
dict1.values() # all the values are printed
dict1["key1"]="replace_one"  # value assigned to key1 is replaced
print(dict1)
print(dict1["key2"])

dict_keys(['key1', 'key2', 3])
{'key1': 'replace_one', 'key2': 'value2', 3: 'value3'}
value2

## Operation


*   Mathematics
*   Logical
*   Membership

#### Mathematical Operators ####

Mathematical operators are basic arithmetic symbols used to perform addition, subtraction, multiplication, and more. 

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|Assignment (=)        |Assigns a variable a value. |(x = 5)       |
|+       | Addition.                   |(1 + 2) |
|-         | Subtraction. | (2 - 1)
|* | Multiplication. |(1 * 2) |
|/             |Division. |(10 / 5)|
|% | Modulus. |(15 % 2)


#### Logical Operators ####

Logical operators are used to compare values, they either return True or False.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|Equal to (==)        |If the values of the two operands are equal, then the condition becomes true. |(a == a) is True.       |
|Not Equal to (!=)       |If the values of the two operands are not equal, then the condition becomes true.                    |(a != b) is True.|
|Greater Than, Greater than or Equal to (>, >=)          |If the value of the left operand is greater than the value of the right operand then the condition becomes true. | (2>1) is True.
|Less Than, Less than or Equal to (<, <=) |If the value of the left operand is less than the value of the right operand then the condition becomes true. |(1<2) is True.|
|and              |Returns True if all statements are True. |(1<2 and 2>1) is True.|
|or | Returns True if one of the statements is True. |(1<2 or 2<4) is True.
|not | Reverse the result, returns False if the statement is True.| not(1<5 and 5>3) is not True.

#### Membership Operators ####

Membership operators are used to test whether a value or a variable is found in a sequence (string, tuple, list, set or dictionary). These operators become essential when we discuss loops.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|in| Returns True if a sequence with the specified value is present in the object. | 3 in [1,2,3] is True.
|not in| Returns True if a sequence with the specified value is not present in the object. | 4 not in [1,2,3] is True.

In [7]:
## example 7 ##
## mathematics operator ##

p = 5
q = 10
r = 12.5
s = 2

print("p + q", p+q)
print("q * r", q*r)
print("q ** s", q ** s)

p + q 15
q * r 125.0
q ** s 100

In [8]:
## example 8 ##
## logical operator ##
x = 5
y = 10
print(x < 10,type(x < 10))

print(x > 3 and y <20)

True <class 'bool'>
True

In [10]:
## example 9 ##
x_list = [1,2,5,8,45,99]
y = 10
print(y in x_list)
print(y not in x_list)

False
True